<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <header>
            {% block header %}
                <p>HEADER</p>
            {% endblock %}
        </header>
        
    	<div>
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>
                    
                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}SIDEBAR{% endblock %}
                    </div>
            {% endblock %}
        </div>
    	
        <footer>
            {% block footer %}
                <p>FOOTER</p>
            {% endblock %}
        </footer>
        
        {% block javascripts %}
        	<script src="{{ asset('js/jquery.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
